@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Medium.woff') format('woff'),
        url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Regular.woff') format('woff'),
        url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('../fonts/TTLakesCondensed-Medium.eot');
    src: local('TT Lakes Condensed Medium'), local('TTLakesCondensed-Medium'),
        url('../fonts/TTLakesCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakesCondensed-Medium.woff') format('woff'),
        url('../fonts/TTLakesCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    width:320px;
    box-shadow: 
    -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
    display: flex;
	flex-direction: column;
	min-height: 100%;
}
.menu-header{
    margin: 0;
    padding: 24px 24px;
    display:flex;
    align-items: center;
}
.menu-header__button{
    border:none;
    background-color: white;
    padding: 0;
    margin-right: 16px;
} 
.menu-header__button:hover .menu-header__button_image{
    transition: 0.5s;
    background-color: #d62258;
}
.menu-header__button:last-child{
    margin-right: 0px;
} 
.menu-header__logo{
   margin-right: auto;
}
.menu-header__button_image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;   
}
.menu-header__button:nth-of-type(1) .menu-header__button_image{
    background-image: url("/image/burger.svg");
    background-repeat: no-repeat;
    background-position: center center;       
}  
.menu-header__button:nth-of-type(2) .menu-header__button_image{
    background-image: url("/image/search.svg");
    background-repeat: no-repeat;
    background-position: center center;       
}

.menu-main{
    flex: 1 0 auto;
}
.menu-main__list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.menu-main__item{
    margin-bottom: 32px;
    padding-left: 24px;
    font-family: "TT Lakes";
    color: #1B1C21;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.menu-main__item:first-child{
    color: #7E7E82;
    background-image: url("/image/highlight.svg");
    background-repeat: no-repeat;
    background-position: left center;
    margin-top: 10px;
}
.menu-main__link{
    text-decoration: none;
    color:inherit;
 }

 .menu-footer{
    padding-left: 24px;
    flex: 0 0 auto;
    
 }
 .menu-footer__buttons{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
 }
 .menu-footer__button{
    border:none;
    background-color: white;
    padding: 0;
    margin-right: 16px;
} 
.menu-footer__button:last-child{
    margin-right: auto;
} 
.menu-footer__button_image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;   
}
.menu-footer__button:hover .menu-footer__button_image{
    transition: 0.5s;
    background-color: #d62258;
}
.menu-footer__button:nth-of-type(1) .menu-footer__button_image{
    background-image: url("/image/call.svg");
    background-repeat: no-repeat;
    background-position: center center;       
}  
.menu-footer__button:nth-of-type(2) .menu-footer__button_image{
    background-image: url("/image/chat.svg");
    background-repeat: no-repeat;
    background-position: center center;       
} 
.menu-footer__button:nth-of-type(3) .menu-footer__button_image{
    background-image: url("/image/profile.svg");
    background-repeat: no-repeat;
    background-position: center center;       
} 

.menu-footer__contacts{
    margin-bottom: 40px;
}
.menu-footer__mail{
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin:0;
    margin-bottom: 12px;
}
.menu-footer__phone{
    font-family: 'TT Lakes';
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    margin:0;
}
.menu-footer__languages{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-footer__item{
    font-family: 'TT Lakes';
    font-size: 16px;
    color: #1B1C21;
    line-height: 24px;
    font-weight: 500;
    margin-right:7px;
    padding-bottom: 32px;
}
.menu-footer__link{
    text-decoration: none;
    color:inherit; 
}
.menu-footer__item:first-child{
    color: #7E7E82;;
}
